/**
* Atopinio dermatito pacientų asociacija
* Default
*/
body{
    font-family: "PT Sans", sans-serif;
}
.crt-feed-container .crt-post .crt-social-icon i {
color:#000000;
}

.crt-feed-container .crt-post .crt-post-fullname a {
color:#000000;
}

.crt-feed-container .crt-post .crt-post-content {
background-color:#ffffff;
}

.crt-feed-container .crt-post .crt-post-content-text {
color:#333333;
font-family: Merriweather, serif;
}

.crt-feed-container .crt-post .crt-post-content-text a {
color:#000000;
}

.crt-feed-container .crt-post .crt-date {
color:#000000;
}

.crt-feed-container .crt-post .crt-post-footer a {
color:#000000;
}

.crt-feed-container .crt-post .crt-post-footer {
background-color:#ffffff;
}

.crt-feed-container .crt-post .crt-post-footer .crt-post-share a i {
color:#333333;
}

.crt-feed-container .crt-load-more a {
color:#2b2b2b;
}

.crt-feed-container .crt-load-more a {
background-color:#ffffff;
}

.crt-feed-container .crt-load-more a {
border-color:transparent;
}

.crt-feed-container .crt-grid-post-v2 .crt-social-icon i {
color:#000000;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-fullname a {
color:#000000;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-content {
background-color:#ffffff;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-hover {
background-color:#ffffff;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-content-text {
color:#333333;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-hover .crt-post-content-text {
color:#333333;
}

.crt-feed-container .crt-grid-post-v2 .crt-grid-post-text {
color:#333333;
}

.crt-feed-container .crt-grid-post-v2 .crt-grid-post-text a {
color:#000000;
}

.crt-feed-container .crt-grid-post-v2 .crt-date {
color:#000000;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-footer a {
color:#000000;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-footer {
background-color:#ffffff;
}

.crt-feed-container .crt-grid-post-v2 .crt-post-footer .crt-post-share a i {
color:#333333;
}

.crt-feed-container  {
background-color:transparent;
}



